.cart-item {
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cart-img {
  width: 130px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.cart-info h5 {
  font-weight: 700;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  padding: 5px 12px;
  border: 1px solid #ccc;
  background: white;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.price-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
}
