.logo-text img {
  cursor: pointer;
}

.nav-links .nav-link {
  font-weight: 600;
  margin-right: 20px;
  color: #3e3e3e !important;
}

.nav-links .nav-link:hover {
  color: #ff3f6c !important;
}

.search-bar {
  width: 350px;
}

.search-input {
  width: 100%;
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.icons-wrap {
  margin-left: 20px;
  display: flex;
  gap: 20px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3e3e3e;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}

.icon-box:hover {
  color: #ff3f6c;
}
