.prod-link {
  text-decoration: none;
  color: black;
}

.prod-card {
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.prod-card:hover {
  transform: scale(1.03);
}

.prod-img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.prod-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.prod-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff3f6c;
}
